
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
html, body,div, span, ul,li,h2,h3,h4,h6{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}

body{
    font-family: 'Roboto','Noto Sans KR';
    letter-spacing: -0.02rem;
    color:  #222;
    user-select: none;
    font-size: 1.6rem;
}

ul{
    list-style: none;
    word-break: keep-all;
}

#header{
    background-color: #04152b;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
}

#header>.desktop-only>.sub-wrap{
        width: 100%;
        background-color: #04152b;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        color: #fff;
        font: inherit;
        display: inline-block;
}


.sub-wrap .sub-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 3.6rem;
    padding: 0.5rem 4rem;
    margin: 0;
    letter-spacing: -.02rem;
    user-select: none;
    font: inherit;
    align-items: center;
}

.sub-wrap .sub-con .site-tab {
    display: flex;
    align-items: center;
    height: 100%;
    align-items: center;
}


.sub-wrap .sub-con .user-tab {
    display: flex;
    margin: 0;
}

.sub-wrap .sub-con .site-tab > li {
    height: 100%;
    display:inline-block;
    align-items: center;
    line-height: 3.6rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    color: #fff;
    font: inherit;
    cursor: pointer;
    vertical-align: baseline;
    margin: 0;
    border: 0;
}
.sub-wrap .sub-con .user-tab > ul{
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sub-wrap .sub-con .user-tab > li {
    /* margin-left: 5rem; */
    position: relative;
    padding: 0 2rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    border-left: 40rem ;
    
}

.sub-wrap .sub-con .user-tab > li + li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.1rem;
    height: 1rem;
    background-color: rgba(255,255,255,0.5);
    transform: translateY(-50%);
}

.nav-wrap .nav-con {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 9.4rem;
    background-color: rgb(7,29,61);
    font: inherit;
    vertical-align: baseline;
    border: 0;
    padding: 0 4rem;
}

.nav-wrap .nav-con> .gnb-wrap> li{
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 5rem;
    display: inline-block;
    margin-right: 14rem;
}

#header> .nav-wrap > .nav-con>.img{
    background-repeat: no-repeat;
    margin-right: 10rem;
}